//fonts
$font-family: 'Open Sans', Helvetica, sans-serif;
$primary-font: #202020;
$secondary-font: #454545;
$body-font: lighten(#454545, 20%);
$disabled-text: #8D8D8D;

$link: #22A7F0;
$accent-grey: #EFEFEF;
$main-header:  #D2527F;
$secondary-header: #34495E;

$background-grey: #fff;
$line-gray: #F3F3F3;

//media queries
$mobile: new-breakpoint(max-width 480px 4);