.arena {
  .timer-wrapper {
    @include span-columns(12);
    height: auto;
    text-align: right;
    padding: 20px;
    overflow: auto;

    .timer {
      font-size: 1.2em;
      padding-top: 14px;

      &::before {
        content: 'Time Remaining: ';
        color: darken($background-grey, 30%);
      }
    }
  }

  .player-zone {
    @include span-columns(12);
    @extend .default;
    background-color: #fff;
  }

  .player {
    @include span-columns(6);
    height: auto;
    background-color: $background-grey;
  }

  .points, .profile {
    @include span-columns(6);
  }

  .points {
    font-size: 2.5em;
    font-weight: 600;
    color: #6B6B6B;
  }

  .word {
    @include span-columns(4 of 12);
    height: 40px;
    font-size: 1.5em;
    border-bottom: 2px solid darken($background-grey, 3%);

    &:nth-child(3) {
      @include omega;
    }
  }

  .main-word {
    font-size: 2em;
    font-weight: 600;
    color: #C0392B;

    &::before {
      content: 'Word: ';
      font-size: 1em;
      font-weight: 300;
      color: darken($background-grey, 30%);
    }
  }

  .synonym-wrapper {
    @include span-columns(10);
    @include shift(1);
    @extend .default;

  }

  .guessForm {
    @include span-columns(10);
    @include shift(1);
  }

  .welcome {
    color: darken($background-grey, 30%);
    font-size: 1.5em;
  }

}