.arena {
  .word-wrapper {
    @include span-columns(6);
    height: auto;
    text-align: left;
    padding: 20px;
    overflow: auto;

    aside {
      font-size: .8em;
      &::before {
        content: 'Defintion -- ';
        color: darken($background-grey, 30%);
      }
    }
  }
  .timer-wrapper {
    @include span-columns(6);
    @include omega;
    height: auto;
    text-align: right;
    padding: 20px;
    overflow: auto;


    .timer {
      font-size: 1.2em;
      padding-top: 25px;

      &::before {
        content: 'Time Remaining: ';
        color: darken($background-grey, 30%);
      }
    }
  }

  .player-zone {
    @include span-columns(12);
    @extend .default;
    background-color: #fff;
  }

  .player {
    @include span-columns(6);
    height: auto;
    background-color: $background-grey;
    padding: 10px;
  }

  .points, .profile {
    @include span-columns(6);
  }

  .points {
    font-size: 2.5em;
    font-weight: 600;
    color: #6B6B6B;
  }

  .sponsor {
    font-size: 1em;
    color: #454545;
    font-weight: 600;
  }

  .profile {
    color: darken($background-grey, 30%);
    font-size: .8em;
    h3 {
      font-size: 1.2em;
      font-weight: 600em;
    }
  }

  .word {
    @include span-columns(4 of 12);
    height: 40px;
    font-size: 1.5em;
    border-bottom: 2px solid darken($background-grey, 3%);
    text-align: left;
    padding: 5px 7px;
    transition: color 300ms ease-in;

    &:nth-of-type(3n) {
      @include omega;
    }

    &.found {
      color: darken($background-grey, 20%);
    }

    &.golden {
      color: #CFB53B;
    }
  }

  .main-word {
    font-size: 2em;
    font-weight: 600;
    color: #C0392B;

    &::before {
      content: 'Word: ';
      font-size: 1em;
      font-weight: 300;
      color: darken($background-grey, 30%);
    }
  }

  .sponsor {
    @include span-columns(12);
    padding: 5px;
  }
  .synonyms-title {
    @include span-columns(12);
    text-align: center;
    padding: 0;
    margin: 0;
    color: darken($background-grey, 30%);
    display: inline;
  }

  .synonym-wrapper {
    @include span-columns(10);
    @include shift(1);
    @extend .default;
    margin-top: 10px;
  }

  .block {
    @extend .default;
    @include span-columns(10);
    @include shift(1);
    display: none;

    &.show {
      display: initial;
    }
  }

  .guessForm {
    @include span-columns(6);
    @include shift(3);
  }

  .welcome {
    color: darken($background-grey, 30%);
    font-size: 1.5em;
  }

}



.question-content {
  display: none;


  &.show {
    display: initial;
  }
}