.home {

  ul {
    @include span-columns(10);
    @include shift(1);
    height: auto;
    list-style-type: none;
    padding: 0;


    li {
      @include span-columns(12);
      display: block;
      height: 50px;
      background-color: darken($background-grey, 20%);
      color: $secondary-header;
      margin: 10px auto;
      border-radius: 5px;
      border: 2px solid darken($background-grey, 25%);
      line-height: 40px;
      font-size: 1.2em;
      transition: background-color 300ms ease-in;

      &:hover {
        background-color: darken($background-grey, 30%);
        border: 2px solid darken($background-grey, 35%);
      }
    }


  }


}