html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Open Sans", Helvetica, sans-serif;
  color: #454545;
  vertical-align: baseline;
  background-color: #fff; }
  @media screen and (max-width: 480px) {
    html, body {
      padding: 0 5px; } }

.left {
  float: left; }

.right {
  float: right; }

.default, .arena .player-zone, .arena .synonym-wrapper, .arena .block {
  height: auto;
  background-color: #f8f8f8;
  margin-top: 20px;
  border: 1px solid #F5F5F5;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 50px; }

h1, h2, h3, h4, h5 {
  font-family: "Open Sans", Helvetica, sans-serif;
  color: #202020;
  margin: 0;
  padding: 0;
  font-weight: 300; }

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

header {
  height: 120px;
  width: 100%;
  background-color: #F5F5F5;
  text-align: center;
  padding-top: 40px;
  border-bottom: 2px solid gainsboro; }
  header h1 {
    color: #454545; }

.home, .arena {
  padding: 20px;
  text-align: center; }

input {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  border: 2px solid gainsboro;
  height: 35px;
  font-size: 1.2em;
  color: dimgray;
  line-height: 1.2;
  padding: 3px; }
  input:last-child {
    margin-right: 0; }

footer.final {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  height: 70px;
  background-color: #F5F5F5;
  text-align: center;
  font-size: .8em;
  color: #c2c2c2;
  padding-top: 20px;
  border-top: 2px solid gainsboro; }
  footer.final:last-child {
    margin-right: 0; }

@keyframes fade {
  0% {
    opacity: .1; }
  50% {
    opacity: 1; }
  100% {
    opacity: .1; } }

.fade {
  animation-name: fade;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite; }

.arena .timer-wrapper {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  height: auto;
  text-align: right;
  padding: 20px;
  overflow: auto; }
  .arena .timer-wrapper:last-child {
    margin-right: 0; }
  .arena .timer-wrapper .timer {
    font-size: 1.2em;
    padding-top: 14px; }
    .arena .timer-wrapper .timer::before {
      content: 'Time Remaining: ';
      color: darkgray; }

.arena .player-zone {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-color: #fff; }
  .arena .player-zone:last-child {
    margin-right: 0; }

.arena .player {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  height: auto;
  background-color: #F5F5F5;
  padding: 10px; }
  .arena .player:last-child {
    margin-right: 0; }

.arena .points, .arena .profile {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .arena .points:last-child, .arena .profile:last-child {
    margin-right: 0; }

.arena .points {
  font-size: 2.5em;
  font-weight: 600;
  color: #6B6B6B; }

.arena .sponsor {
  font-size: 1em;
  color: #454545;
  font-weight: 600; }

.arena .profile {
  color: darkgray;
  font-size: .8em; }
  .arena .profile h3 {
    font-size: 1.2em;
    font-weight: 600em; }

.arena .word {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  height: 40px;
  font-size: 1.5em;
  border-bottom: 2px solid #ededed;
  text-align: left;
  padding: 5px 7px;
  transition: color 300ms ease-in; }
  .arena .word:last-child {
    margin-right: 0; }
  .arena .word:nth-of-type(3n) {
    margin-right: 0; }
  .arena .word.found {
    color: #c2c2c2; }

.arena .main-word {
  font-size: 2em;
  font-weight: 600;
  color: #C0392B; }
  .arena .main-word::before {
    content: 'Word: ';
    font-size: 1em;
    font-weight: 300;
    color: darkgray; }

.arena .sponsor {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  padding: 5px; }
  .arena .sponsor:last-child {
    margin-right: 0; }

.arena .synonyms-title {
  color: darkgray; }

.arena .synonym-wrapper {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%; }
  .arena .synonym-wrapper:last-child {
    margin-right: 0; }

.arena .block {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%;
  display: none; }
  .arena .block:last-child {
    margin-right: 0; }
  .arena .block.show {
    display: initial; }

.arena .guessForm {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-left: 25.58941%; }
  .arena .guessForm:last-child {
    margin-right: 0; }

.arena .welcome {
  color: darkgray;
  font-size: 1.5em; }

.question-content {
  display: none; }
  .question-content.show {
    display: initial; }

.home div.name {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 17.05961%;
  height: auto;
  background-color: #f8f8f8;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #F5F5F5;
  border-radius: 5px;
  padding: 10px; }
  .home div.name:last-child {
    margin-right: 0; }
  .home div.name label {
    font-size: 1.2em; }
  .home div.name input {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 17.05961%;
    margin-top: 10px; }
    .home div.name input:last-child {
      margin-right: 0; }

.home .arena-wrapper {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%;
  height: auto;
  background-color: #f8f8f8;
  margin-top: 20px;
  border: 1px solid #F5F5F5;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 50px; }
  .home .arena-wrapper:last-child {
    margin-right: 0; }

.home .cause {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%;
  height: auto;
  background-color: #f8f8f8;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #F5F5F5;
  border-radius: 5px;
  padding: 15px; }
  .home .cause:last-child {
    margin-right: 0; }
  .home .cause .cause-third {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    height: auto;
    padding: 10px;
    border: 1px solid #F5F5F5;
    background-color: #F5F5F5;
    border-radius: 5px;
    transition: background-color 300ms ease-in; }
    .home .cause .cause-third:last-child {
      margin-right: 0; }
    .home .cause .cause-third:hover {
      background-color: gainsboro; }
    .home .cause .cause-third img {
      width: 90%;
      height: auto; }
  .home .cause footer {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    font-size: .8em;
    color: #b5b5b5;
    padding-top: 15px; }
    .home .cause footer:last-child {
      margin-right: 0; }
    .home .cause footer img {
      width: 50px;
      height: auto; }

.home ul {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%;
  height: auto;
  list-style-type: none;
  padding: 0; }
  .home ul:last-child {
    margin-right: 0; }
  .home ul li {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    display: block;
    height: 50px;
    background-color: #c2c2c2;
    color: #34495E;
    margin: 10px auto;
    border-radius: 5px;
    border: 2px solid #b5b5b5;
    line-height: 45px;
    font-size: 1.2em;
    transition: background-color 300ms ease-in; }
    .home ul li:last-child {
      margin-right: 0; }
    .home ul li:hover {
      background-color: darkgray;
      border: 2px solid #9c9c9c; }
    .home ul li a {
      text-decoration: none;
      color: #34495E;
      height: 100%;
      width: 100%;
      display: block; }

.home h2 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  padding-top: 10px; }
  .home h2:last-child {
    margin-right: 0; }
